<div class="fixed-top" id="main">
    <nav class="navbar navbar-expand-sm" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="onToggleNavbarCollapsing()">
          <span class="navbar-toggler-icon"></span> O
        </button>
                <div id="brand">
                    <img src="../../assets/images/color-box3.png" alt="Blue Cube" width="80" height="40" />
                </div>
            </div>
            <div class="collapse navbar-collapse" [class.collapse]="navbarCollapsed" id="menu">
                <ul class="navbar-nav">
                    <li class="nav-item" routerLinkActive="activated">
                        <a class="nav-link" routerLink="home">Home<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item" routerLinkActive="activated">
            <a class="nav-link" routerLink="showcase"
              >Showcase <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item" routerLinkActive="activated">
            <a class="nav-link" routerLink="resume"
              >Resume <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item" routerLinkActive="activated">
            <a class="nav-link" routerLink="contact"
              >Contact<span class="sr-only">(current)</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
