.navbar {
    background-color: rgb(218, 37, 97);
    border-bottom: 1px solid slateblue;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

.navbar-toggler-icon {
    position: fixed;
    left: 0.5em;
    top: 0.5em;
}

#brand {
    position: fixed;
    top: 0.5em;
    left: 4em;
}

#menu {
    margin-left: 7em;
}

.nav-link,
.nav-item,
.dropdown-item,
a {
    color: black;
    cursor: pointer;
}

.nav-item {
    margin-left: 1.5em;
    text-align: center;
}

.nav-link:hover {
    opacity: 0.7;
}

.activated {
    border-bottom: 3px solid rgb(32, 4, 212);
    border-right: 3px solid rgb(32, 4, 212);
    border-bottom-right-radius: 10px;
}

.activated>a {
    color: rgb(32, 4, 212);
}

a {
    text-decoration: none;
}