<footer>
    <div class="foot-div">
        <br />
        <div>
            <a class="foot-link" href="https://github.com/ThandieC/projects-portfolio.git" target="_blank">
        View this website's Repository</a
      >
    </div>
    <hr />
    <div>
      <a
        class="foot-link"
        href="https://www.linkedin.com/in/thandekile-ndlovu-cumbane-10216b196/"
        target="_blank"
        >Visit my LinkedIn Page</a
      >
    </div>
    <hr />
    <div>
      <a class="foot-link" routerLink="showcase">Projects Showcase</a>
        </div>
        <hr />
        <div>
            <a class="foot-link" routerLink="resume">My Resume and Contact Info</a>
        </div>
        <hr />
        <div>
            <a class="foot-link" href="">Send email</a>
        </div>
        <hr />
    </div>
    <div class="credentials">
        &copy;2022 | Thandie Portfolio <br />Created by: Thandekile Ndlovu Cumbane
    </div>
</footer>
