<footer>
    <div>
        <div>
            <a href="https://github.com/ThandieC/thandie-portfolio.git" target="_blank">
                <i class="material-icons">github</i> <br /> View this website's code on GitHub</a>
        </div>
        <hr />
        <div>
            <a href="https://www.linkedin.com/in/thandekile-ndlovu-cumbane-10216b196/" target="_blank">Visit my LinkedIn Page</a
      >
    </div>
  </div>
  <div>
    &copy;2021 | Thandie Portfolio <br />Created by: Thandekile Ndlovu Cumbane
  </div>
</footer>
