<div class="row">
    <div class="col-sm-12 col-md-6">
        <img src="../../assets/images/bbceducare/video-page.png" alt="BBC Daycare App Image" />
    </div>
    <div class="col-sm-12 col-md-6">
        <h4>BBC Daycare and Educare Centre</h4>
        <div class="description">
            <p class="tech-stack">
                Tech Stack: JavaScript, JQuery, CSS3, HTML5, Git.
            </p>
            <ul>
                <li>
                    A colorful creche website that is both interactive and attractive.
                </li>
                <li>Provides general information about the creche.</li>
                <li>Visitors can watch videos, and go through a picture gallery.</li>
            </ul>
        </div>
        <div class="link-container">
            <a routerLink="" class="app-links app">
                <p class="icon">
                    <mat-icon class="material-icons-outlined"> apps </mat-icon> <br /> App
                </p>
            </a>
            <div (click)="onGalleryImages('bbcgallery')" class="app-links pics">
                <p class="icon">
                    <mat-icon class="material-icons-outlined"> image </mat-icon> <br /> Images
                </p>
            </div>
            <a routerLink="" class="app-links code">
                <p class="icon">
                    <mat-icon class="material-icons-outlined"> code </mat-icon> <br /> Code
                </p>
            </a>
        </div>
    </div>
</div>
