<article class="col-md-12 col-xl-12" id="contactArticle">
    <div class="articleDiv opaque">
        <div class="contact">
            <i class="material-icons">time</i>
            <h5>MY NAME & SURNAME</h5>
            <p>Thandekile Ndlovu Cumbane</p>
        </div>
        <div class="contact">
            <h5>MY E-MAIL ADDRESS</h5>
            <p>thandiec2@gmail.com</p>
        </div>
        <div class="contact">
            <h5>FIND ME HERE ALSO</h5>
            Icons for LinkedIn, and GitHub(for this portfolio code)
            <a href="https://linked-in.com/thandekile-ndlovu ---">
                <p>https://linked-in.com/thandekile-ndlovu ---</p>
            </a>
        </div>
    </div>
</article>