<div class="row galleryDiv">
    <h4>App Images</h4>

    <div class="col-12 gallery">
        <div class="imageDiv">
            <img src="../../../../assets/images/brilliant-minds/home-page.png" alt="Brilliant Minds App Images" />
            <img src="../../../../assets/images/brilliant-minds/auth-page.png" alt="Brilliant Minds App Images" />
            <img src="../../../../assets/images/brilliant-minds/creations-edit.png" alt="Brilliant Minds App Images" />
            <img src="../../../../assets/images/brilliant-minds/creations-home.png" alt="Brilliant Minds App Images" />
            <img src="../../../../assets/images/brilliant-minds/story-home.png" alt="Brilliant Minds App Images" />
            <img src="../../../../assets/images/brilliant-minds/story-grandmas.png" alt="Brilliant Minds App Images" />
            <img src="../../../../assets/images/brilliant-minds/story-qsn.png" alt="Brilliant Minds App Images" />
        </div>
    </div>
</div>
