<div class="row">
    <div class="col-sm-12 col-md-6">
        <img src="../../../assets/images/recipe-book/recipe-home.png" alt="Recipe Book App Image" />
    </div>
    <div class="col-sm-12 col-md-6">
        <h4>RECIPE BOOK</h4>
        <div class="description">
            <p class="tech-stack">
                Tech Stack: JavaScript, Angular, Bootstrap, CSS3, HTML5, Firebase, Git, Github.
            </p>
            <ul>
                <li>
                    An app designed for the user to create and keep an editable collection of recipes.
                </li>
                <li>
                    The user can also make or edit a list of ingredients for their Shopping from the app and save them in a Firebox database.
                </li>
                <li>
                    The App is authenticated so users have to sign up to access the entire App.
                </li>
            </ul>
        </div>
        <div class="link-container">
            <a routerLink="" class="app-links app">
                <p class="icon">
                    <mat-icon class="material-icons-outlined"> apps </mat-icon> <br /> App
                </p>
            </a>
            <div (click)="onGalleryImages('recipe-book-gallery')" class="app-links pics">
                <p class="icon">
                    <mat-icon class="material-icons-outlined"> image </mat-icon> <br /> Images
                </p>
            </div>
            <a routerLink="" class="app-links code">
                <p class="icon">
                    <mat-icon class="material-icons-outlined"> code </mat-icon> <br /> Code
                </p>
            </a>
        </div>
    </div>
</div>
