<div class="row">
    <div class="col-sm-12 col-md-6">
        <img src="../../../assets/images/brilliant-minds/home-page.png" alt="BBC Daycare App Image" />
    </div>
    <div class="col-sm-12 col-md-6">
        <h4>BRILLIANT MINDS</h4>
        <div class="description">
            <p class="tech-stack">
                Tech Stack: JavaScript, Angular, Bootstrap, CSS3, HTML5, Firebase, Git, Bitbucket, Github.
            </p>
            <ul>
                <li>
                    A very interactive storybook app designed especially for children.
                </li>
                <li>
                    Kids can select a story to read from a list of stories in the library and them answer comprehension questions afterwards.
                </li>
                <li>
                    After Authentification, kids can write their own short stories and save them in a Firebase database.
                </li>
            </ul>
        </div>
        <div class="link-container">
            <a routerLink="" class="app-links app">
                <p class="icon"><i class="placeholder-icon">ap</i></p>
                <p>App</p>
            </a>
            <div (click)="onGalleryImages('brilliant-minds-gallery')" class="app-links pics">
                <p class="icon"><i class="placeholder-icon">ap</i></p>
                <p>Images</p>
            </div>
            <a routerLink="" class="app-links code">
                <p class="icon">&#12296; / &#12297;</p>
                <p>Code</p>
            </a>
        </div>
    </div>
</div>
