<div class="row galleryDiv">
    <h4>App Images</h4>

    <div class="col-12 gallery">
        <div class="imageDiv">
            <img src="../../../../assets/images/recipe-book/recipe-home.png" alt="Recipe Book App Images" />
            <img src="../../../../assets/images/recipe-book/recipe-edit.png" alt="Recipe Book App Images" />
            <img src="../../../../assets/images/recipe-book/recipe-edit-2.png" alt="Recipe Book App Images" />
            <img src="../../../../assets/images/recipe-book/shopping-list.png" alt="Recipe Book App Images" />
        </div>
    </div>
</div>
