<div class="row" id="home">
    <div class="col-sm-12 col-md-7">
        <div id="left">
            <h2 id="name">I'm Thandekile Ndlovu Cumbane,</h2>
            <p id="dev">
                A JavaScript and Angular Software Developer. Coding is a part of me. I just love how brighter life can be made with Code!
            </p>
            <a class="b-nav" routerLink="/showcase"> My Projects </a>
            <a class="b-nav" routerLink="/resume"> My Resume </a>
        </div>
    </div>
    <div class="col-sm-12 col-md-5">
        <div id="right">
            <div id="imgDiv">
                <img src="assets/images/thandie.jpg" alt="thandie" width="210" height="300" />
            </div>
        </div>
        <div class="about">
            <h4>About Me</h4>
            <p>
                Studying Software Development has been a very rewarding and awesome experience as being a Computer Scientist has always been my dream. The projects I've embarked in so far, while challenging, have been trully satisfying. I'm happy you stopped by. I hope
                you like my Portfolio.
            </p>
        </div>
    </div>
</div>
